body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 5px;     /* Tamaño del scroll en vertical */
  height: 5px;    /* Tamaño del scroll en horizontal */
}

::-webkit-scrollbar-thumb {
  background: #787878;
}

::-webkit-scrollbar-thumb:hover {
  background: #787878;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:active {
  background-color: #787878;
}

::-webkit-scrollbar-track {
  background: #e1e1e1;
}

::-webkit-scrollbar-track:hover,
::-webkit-scrollbar-track:active {
background: #D4D4D4;
}